
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


li{
    list-style-type: none;
    margin-block: 10px;
    color: rgba(252, 249, 249, 0.575);
    font-size: smaller;
    cursor: pointer;
    transition: all 0.4s;
}
li:hover{
    color: rgba(252, 249, 249, 0.091) ;
}
.active{
    color: #f0f3f2 !important;
}
:root {
    --foot-color: #32BCA3;
    --light-color: #f0f3f2;
    --shadow: rgba(145, 158, 171, .2) 0px 2px 4px -1px, rgba(145, 158, 171, .14) 0px 4px 5px 0px, rgba(145, 158, 171, .12) 0px 1px 10px 0px;
    
}

.propMain{
    background-color: var(--foot-color)!important;
    border: 1px solid #32BCA3 ;
    border-radius: 1000px !important;
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    margin: auto;
    
}
.propMain{
    transition: background-color 0.3s !important;
}
.propMain:hover{
background-color: white !important;
}
.patern{
    height: 100vh !important;
  }  
 
  .topPatern{
    height: 45vh!important;
    width: 100% !important;
    scale: 3;
    position: absolute;
    z-index: 0;
    top:10%;
    left: -14%;
   
  }
  .ani{
    overflow: hidden;
    position: relative !important;
    background-color: #1c1c1c;
    border: 1px solid #1c1c1c;
    border-radius: 24px 24px 0px 0px;
  }
.bg{
    opacity: 0px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;

}
.re{
    z-index: 2;
}
.header{
font-family: "Open Sans", serif;
font-size: 72px;
font-weight: 500;
line-height: 79.2px;
text-align: center;

}
.disc{
font-size: 20px;
font-weight: 400;
line-height: 26px;
font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.footer .list{
  display: flex;
  gap: 58px;
  justify-content: center;
}
.footer .ulColContent{
  display: flex;
  font-size: 20px;
}
.footer .ulColContent ul{
    justify-content: space-between ;  
}
.footer .list li{
    margin-top: 30px;
    justify-content: space-between;
}
.footLogo{
    font-size: 16px;
    color: #f0f3f298;
}

.footP{
    color: rgba(252, 249, 249, 0.575);
}
.footer i{
    color: white;
}
.foot{
    border-top: 1px solid rgba(252, 249, 249, 0.575);
    margin: 30px 0 0 0 !important;
    padding-block: 20px;

}
.footContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.foot ul li{
    display: flex;
}
.foot ul li i{
    justify-content: space-between;
    align-items: center;
    margin-inline:20px ;
}