.special-features-container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #ffffff;
}

.features-list {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feature-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.feature-item .icon {
    font-size: 1.5rem;
    color: #333333;
}

.feature-item h3 {
    font-size: 1.2rem;
    color: #333333;
    margin: 10px 0;
}

.feature-item p {
    font-size: 1rem;
    color: #666666;
}

.features-description {
    max-width: 50%;
    text-align: left;
}

.features-description h3 {
    color: #00b894;
    font-size: 1.2rem;
}

.features-description h1 {
    font-size: 2rem;
    color: #333333;
    margin: 10px 0;
}

.features-description p {
    font-size: 1rem;
    color: #666666;
    margin-bottom: 20px;
}

.feature-image img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}